# macOS specific files
.DS_Store
.AppleDouble
.LSOverride

# macOS Thumbnails
._*

# macOS file system metadata
.Spotlight-V100
.Trashes
.VolumeIcon.icns
.DS_Store?
._*

# Python-specific files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments (in case you're not using Poetry's built-in venv handling)
env/
venv/
.venv/

# Poetry files (already versioned by pyproject.toml)
poetry.lock

# uv lock file
uv.lock

# Byte-compiled / optimized / DLL files
*.pyo
*.pyd

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.cache
nosetests.xml
coverage.xml
*.log

# Jupyter Notebook files
.ipynb_checkpoints/

# PyCharm project files
.idea/

# VS Code project files
.vscode/

# Logs
*.log
*.out

# OS-specific swap files
*.swp

# Environment variables
.env

# Output of path_graph_strawman_creator
cypher_queries.md
graph_overview.md